*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica, Arial, sans-serif;
}

#main{
    
}

#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#nav {
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
   
}
#nav > li {
display: inline-block;
}
#nav li{
    position: relative;
    
}
#nav li:hover .subnav {
    display: block;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}


#nav .subnav li:hover a,
#nav > li:hover > a {
    color: black;
    background-color: #ccc;
    display: block;

}

#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
#nav .subnav li {
    padding: 12px 12px;

}
#nav .subnav a{
    color: black;
    padding: 0 12px;
    line-height: 38px;

}

#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
    display: block;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    padding: 0 21px ;
    
}
#header .search-btn:hover {
    background-color: #f44006;
    cursor: pointer;
}
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}


#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/chicago.jpg') top center ;
}

#slider .text-content{
    position: absolute;
    /* left: 50%;
    transform: translateX(-50%); */
    text-align: center;
    width: 100%;
    bottom: 47px;
    color: #fff;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}
#slider .text-decription{
    font-size: 15px;
}

#content{
    
}

#footer{
    
}
